:root{
    --color-one: #7C7CE9;
    --color-two: #1d1818;
    --color-three: #1d1818c8;
    --color-four: rgb(41, 74, 1);

}

* {
    background-color: var(--color-one);
    color: var(--color-two);
}

body .header {
    /* border: black solid 2px; */
    display: flex;
    flex-direction: column;
}

body div header {
    /* border: black solid 2px; */
    display: flex;
    justify-content: center;
}

body .navigation {
    /* border: black solid 2px; */
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-evenly;
}

nav .menuItem:hover {
    background-color: white;
    color: black;
}

footer {
    border: black solid 2px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

footer .student-info p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}