
:root {
    --color-one: rgb(124, 152, 218);
    --color-two: rgb(97,20,7);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--color-two);
    padding: 10px 0px;
    max-height: 10rem;
    width: 100%;
}

header img {
    max-height: 5rem;
    max-width: 5rem;
}

    .hamburger {
        position:fixed;
        z-index:100;
        top:1rem;
        right:1rem;
        padding: 4px;
        border: black solid 1px;
        background-color: white;
        cursor: pointer;
    }

    .closeIcon {
        display: none;
    }

    .menu {
        position:fixed;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        z-index: 99;
        background-color: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0);
    }

main {
    display: flex;
    flex-direction: column;
    background-color: var(--color-one);
} 

main .main-heading {
    justify-items: center;
}

main .firstClass {
    margin: 10px;
}

.firstClass h2 {
    justify-self: center;
}

main .secondClass {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

main .secondClass img {
    max-width: 50%;
}

main .thirdClass {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
    
body footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-media img {
    height: 2.5rem;

}
